<!DOCTYPE html>
<html>
  <head>
    <title>AWS S3 Sig</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='./javascripts/upload.js'></script>
  </head>
  <body>
    <h1>AWS S3 Sig</h1>
    <p>Welcome!</p>
    <input type="file" id="input-file">
    <button onclick="initiateUpload()">Upload</button>
  </body>
</html>